* { margin : 0; padding : 0; }
div.table { display : table; }
div.row { display : table-row; }
div.cell { display : table-cell; }
div.controls { width : 200px; vertical-align : top; }
div.canvas { padding-top:20px; }
div.label { width : 100px; }